@{
    ViewData["Title"] = "Ana Sayfa";
}

<style>
    .full-screen-image {
        width: 100%;
        height: 100vh; /* Ekranın yüksekliği kadar kapla */
        object-fit: cover; /* Görüntüyü kırpmadan alanı doldur */
    }
</style>

<div class="container  text-center home">
    <div class="card shadow-sm ">
        <img src=""  class="img-fluid mx-auto d-block" style="max-width: 400px ; class=" full-screen-image"" />

    </div>
</div>
